<h1>CATEGORIA {{categoria}}:</h1>
<table border="2">
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
            <th>Categoria</th>
        </tr>
        {{#each products}}
        <tr>
            <td>{{this.nombre}}</td>
            <td>${{this.precio}}</td>
            <td style="display: flex; justify-content: center;"><img width="50" src={{this.foto}} alt={{this.nombre}}></td>
        </tr>
        {{/each}}
    </table>
<ol>
    <li>asdsda</li>
</ol>
